<div class="header">
    <h1>
        <a href="index.html">
            <svg viewBox="0 0 200 90">
                <text x="9.6%" y="57.5%" class="big">PAH</text>
                <text x="40.1%" y="58%" class="small">PORTFOLIO</text>
            </svg>
        </a>
    </h1>
    <nav>
        <ul id="menu">
            <li data-menuanchor="home" class="active"><a href="#home">HOME</a></li>
            <li data-menuanchor="about"><a href="#about">ABOUT ME</a></li>
            <li data-menuanchor="web"><a href="#web">WEB</a></li>
            <li data-menuanchor="design"><a href="#design">DESIGN</a></li>
            <li data-menuanchor="work"><a href="#work">WORK</a></li>
            <li data-menuanchor="contact"><a href="#contact">CONTACCT ME</a></li>
        </ul>
        <span class="underBar"></span>
    </nav>
</div>

<script type="text/javascript" src="scripts/header.js"></script>

