<div class="header">
    <h1>
        <a href="index.html">
            <svg viewBox="0 0 200 90">
                <text x="12%" y="59%">PAH</text>
                <text x="41%" y="59%" class="small">PORTFOLIO</text>
            </svg>
        </a>
    </h1>
    <nav>
        <ul id="menu">
            <li data-menuanchor="home" class="active"><a href="#home">HOME</a></li>
            <li data-menuanchor="about"><a href="#about">ABOUT ME</a></li>
            <li data-menuanchor="web"><a href="#web">WEB</a></li>
            <li data-menuanchor="design"><a href="#design">DESIGN</a></li>
            <li data-menuanchor="work"><a href="#work">WORK</a></li>
            <li data-menuanchor="contact"><a href="#contact">CONTACCT ME</a></li>
        </ul>
    </nav>
</div>



