<div class="header">
    <div class="dim"></div>
    <h1>
        <a class="logo" href="index.html">
            <svg viewBox="0 0 200 90">
                <text x="9.6%" y="57.5%" class="big">PAH</text>
                <text x="40.1%" y="58%" class="small">PORTFOLIO</text>
            </svg>
        </a>
    </h1>
    <button class="navBtnOpen" id="navBtnOpen" type="button">
        <div><span></span><span></span><span></span>메뉴열기</div>
    </button>
    <nav>
        <ul id="menu">
            <li data-menuanchor="home"><a href="#home">HOME</a></li>
            <li data-menuanchor="about"><a href="#about">ABOUT</a></li>
            <li data-menuanchor="web"><a href="#web">WEB</a></li>
            <li data-menuanchor="design"><a href="#design">DESIGN</a></li>
            <li data-menuanchor="work"><a href="#work">WORK</a></li>
            <li data-menuanchor="contact"><a href="#contact">CONTACT</a></li>
        </ul>
        <span class="underBar"></span> 
    </nav>
</div>

<script type="text/javascript" src="scripts/header.js"></script>

