<div class="homeContent">
    <div id="fullpage">
        <div class="section home">
            <h2>HOME</h2>
            <div class="homeBg">
                <a class="logo white" href="index.html">
                    <svg viewBox="0 0 200 90">
                        <text x="9.6%" y="57.5%" class="big">PAH</text>
                        <text x="40.1%" y="58%" class="small">PORTFOLIO</text>
                    </svg>
                </a>
            </div>
            <div class="inner">
                <div class="txtBox">
                    <div class="spriteIco">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="subTit">
                        <span>W<em>W</em></span><span>E<em>E</em></span><span>B<em>B</em></span><span>/<em>/</em></span><span>M<em>M</em></span><span>O<em>O</em></span><span>B<em>B</em></span><span>I<em>I</em></span><span>L<em>L</em></span><span>E<em>E</em></span>
                    </div>
                    <div class="mainTit">
                        <span>P<em>P</em></span><span>O<em>O</em></span><span>R<em>R</em></span><span>T<em>T</em></span><span>-<em>-</em></span><span>F<em>F</em></span><span>O<em>O</em></span><span>L<em>L</em></span><span>I<em>I</em></span><span>O<em>O</em></span>
                    </div>
                    <h3>
                        <span>2025 Front-End & UI/UX Design<em>2025 Front-End & UI/UX Design</em></span>
                    </h3>
                    <p>
                        <span>Flatform: Web / Mobile<em>Flatform: Web / Mobile</em></span>
                        <span>Use tools: Visual Studio, Eclipse, PhotoShop<em>Use tools: Visual Studio, Eclipse, PhotoShop</em></span>
                        <span>Development period: 2024.12 - 2025.01<em>Development period: 2024.12 - 2025.01</em></span>
                        <span>Creator: Park Ah Hyun<em>Creator: Park Ah Hyun</em></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="section about">
            <div class="aboutBg"></div>
            <div class="inner">
                <div class="left">
                    <h2>
                        <div class="zigzag">
                            <svg viewBox="0 0 73.94 14.19">
                                <polyline points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
                            </svg>
                        </div>
                        <strong>
                            <span>ABOUT<em>ABOUT</em></span>
                            <span>ME.<em>ME.</em></span>
                        </strong>
                        <span class="mobile">ABOUT ME.<em>ABOUT ME.</em></span>
                    </h2>
                    <div class="profile">
                        <p>
                            <em>HELLO!</em>
                            <span><b>전문 프론트엔드 개발자</b>를 꿈꾸는</span>
                            <span>박아현 입니다.</span>
                        </p>
                        <p class="ico">
                            <span class="birth">87.09.04</span>
                            <span class="addr">서울시 강서구 방화동</span>
                            <span class="tel">010-2905-3291</span>
                            <a href="mailto:ahpark94@gmail.com"><span class="mail">ahpark94@gmail.com</span></a>
                        </p>
                    </div>
                </div>
                <div class="right">
                    <div class="skill">
                        <h4>SKILL</h4>
                        <ul>
                            <li class="html">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">HTML</span>
                            </li>
                            <li class="css">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">CSS</span>
                            </li>
                            <li class="js">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">javaScript</span>
                            </li>
                            <li class="jq">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">JQuery</span>
                            </li>
                            <li class="sql">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">MySQL</span>
                            </li>
                            <li class="php">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">PHP</span>
                            </li>
                            <li class="react">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">REACT</span>
                            </li>
                            <li class="ps">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">PhotoShop</span>
                            </li>
                            <li class="ai">
                                <div class="circle"><span class="percent"></span><span class="icon"></span></div>
                                <span class="name">Illustrator</span>
                            </li>
                        </ul>
                    </div>
                    <div class="expBox">
                        <div class="work">
                            <h4>EXPIRENCE</h4>
                            <ul>
                                <li>
                                    <span class="date">2022. 2 ~ 2024. 7</span>
                                    <span class="main">AICT</span>
                                    <span class="sub">프론트엔드</span>
                                </li>
                                <li>
                                    <span class="date">2020. 12 ~ 2021. 6</span>
                                    <span class="main">프리미엄패스</span>
                                    <span class="sub">프론트엔드</span>
                                </li>
                                <li>
                                    <span class="date">2018. 9 ~ 2019. 10</span>
                                    <span class="main">옐로오투오</span>
                                    <span class="sub">서브디자이너</span>
                                </li>
                            </ul>
                        </div>
                        <div class="edu">
                            <h4>EDUCATION</h4>
                            <ul>
                                <li>
                                    <span class="date">2023. 1 ~ 2025. 6</span>
                                    <span class="main">방송통신대학교</span>
                                    <span class="sub">컴퓨터과학과 4학년 재학중</span>
                                </li>
                                <li>
                                    <span class="date">2020. 6 ~ 2020. 12</span>
                                    <span class="main">그린아카데미</span>
                                    <span class="sub">프론트엔드 개발자 양성과정</span>
                                </li>
                            </ul>
                        </div>
                        <div class="license">
                            <h4>LICENSE</h4>
                            <ul>
                                <li>
                                    <span class="date">2021. 12. 31</span>
                                    <span class="main">정보처리기능사</span>
                                </li>
                                <li>
                                    <span class="date">2018. 9. 28</span>
                                    <span class="sub">컴퓨터그래픽스운용기능사</span>
                                </li>
                                <li>
                                    <span class="date">2016. 9 .23</span>
                                    <span class="sub">웹디자인기능사</span>
                                </li>
                                <li>
                                    <span class="date">2015. 12. 25</span>
                                    <span class="sub">컴퓨터활용능력 2급</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profileBtn">
                    <button class="open" type="button">프로필 보기</button>
                    <div class="msg"><p><span>프로필이 궁금해!</span></p></div>
                </div>
            </div>
        </div>

        <div class="section web">
            <div class="webBg"></div>
            <div class="inner">
                <h2>
                    <div class="zigzag">
                        <svg viewBox="0 0 73.94 14.19">
                            <polyline points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
                        </svg>
                    </div>
                    <strong>
                        <span>WEB/APP.<em>WEB/APP.</em></span>
                    </strong>
                    <span class="mobile">WEB/APP.<em>WEB/APP.</em></span>
                </h2>
                <div class="webSlide">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="images/web/slide1.jpg"></div>
                            <div class="swiper-slide"><img src="images/web/slide2.jpg"></div>
                            <div class="swiper-slide"><img src="images/web/slide3.jpg"></div>
                            <div class="swiper-slide"><img src="images/web/slide4.jpg"></div>
                        </div>
                    </div>
                    <div class="phone">
                        <span class="top"></span>
                        <span class="left"></span>
                        <span class="right"></span>
                    </div>
                    <div class="control">
                        <div class="arr prev">이전</div>
                        <div class="arr next">다음</div>
                        <div class="page"></div>
                    </div>
                </div>
                <div class="txtBox">
                    <div class="tit">
                        <div class="numBtnBox">
                            <span class="step">01</span>
                            <div class="btnBox">
                                <a class="detailBtn" href="javascript:void(0);">자세히 보기</a>
                                <a class="link" href="https://grmjoha2.github.io/portfolio_1/" target="_blank"></a>
                            </div>
                        </div>
                        <h3></h3>
                        <span class="sort"></span>
                    </div>
                    <ul>
                        <li class="explain">
                            <h4>INTRODUCTION</h4>
                            <span class="date"></span>
                            <span class="sub"></span>
                        </li>
                        <li class="tool">
                            <h4>USE-Tools</h4>
                            <ul></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section design">
            <div class="designBg">
                <a class="logo white" href="index.html">
                    <svg viewBox="0 0 200 90">
                        <text x="9.6%" y="57.5%" class="big">PAH</text>
                        <text x="40.1%" y="58%" class="small">PORTFOLIO</text>
                    </svg>
                </a>
            </div>
            <div class="inner">
                <div class="left">
                    <h2>
                        <div class="zigzag">
                            <svg viewBox="0 0 73.94 14.19">
                                <polyline points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
                            </svg>
                        </div>
                        <strong>
                            <span>DESIGN<em>DESIGN</em></span>
                            <span>WORKS.<em>WORKS.</em></span>
                        </strong>
                        <span class="mobile">DESIGN WORK.<em>DESIGN WORK.</em></span>
                    </h2>
                    <div class="txtBox">
                        <div class="explain">
                            <h4>INTRODUCTION</h4>
                            <span class="date">2018. 9 ~ 2019. 10</span>
                            <span class="sub">
                                디자이너로 근무하던 당시 제작했던 이벤트 팝업 입니다.<br><em>가독성과 시각적 명확성에 중점을 두어<br>사이트 방문자에게 정확한 정보를 전달하고 있습니다.</em>
                            </span>
                        </div>
                        <div class="tool">
                            <h4>USE-Tools</h4>
                            <ul>
                                <li class="ps"></li>
                                <li class="ai"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <ul class="designList">
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li class="remain"><span></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section work">
            <div class="workBg"></div>
            <div class="inner">
                <h2>
                    <div class="zigzag">
                        <svg viewBox="0 0 73.94 14.19">
                            <polyline points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
                        </svg>
                    </div>
                    <strong>
                        <span>MY<em>MY</em></span>
                        <span>WORK.<em>WORK.</em></span>
                    </strong>
                    <span class="mobile">MY WORK.<em>MY WORK.</em></span>
                </h2>
                <div class="slideBox">
                    <div class="workSlide">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="images/work/slide1.jpg"></div>
                                <div class="swiper-slide"><img src="images/work/slide2.png"></div>
                                <div class="swiper-slide"><img src="images/work/slide3.png"></div>
                                <div class="swiper-slide"><img src="images/work/slide4.png"></div>
                                <div class="swiper-slide"><img src="images/work/slide5.jpg"></div>
                                <div class="swiper-slide"><img src="images/work/slide6.jpg"></div>
                                <div class="swiper-slide"><img src="images/work/slide7.jpg"></div>
                                <div class="swiper-slide"><img src="images/work/slide8.jpg"></div>
                                <div class="swiper-slide"><img src="images/work/slide9.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="control">
                        <div class="arr prev">이전</div>
                        <div class="arr next">다음</div>
                        <div class="page"></div>
                    </div>
                    <div class="title">
                        <span class="step"></span>
                        <h3></h3>
                    </div>
                </div>
                <div class="txtBox">
                    <span class="desc"></span>
                    <div class="dayBox">
                        <span class="period"></span>
                        <span class="day"></span>
                    </div>
                    <span class="func"></span>
                    <span class="role"></span>
                    <div class="tool">
                        <ul></ul>
                    </div>
                    <a class="link" href="javascript:void(0);" target="_blank">
                        <span class="w">홈페이지 보기</span>
                        <span class="m">보기</span>
                        <span class="close">운영 중단</span>
                    </a>
                </div>
            </div>
        </div>   

        <div class="section contact">
            <div class="contactBg"></div>
            <div class="inner">
                <h2>
                    <div class="zigzag">
                        <svg viewBox="0 0 73.94 14.19">
                            <polyline points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
                        </svg>
                    </div>
                    <strong>
                        <span>CONTACT<em>CONTACT</em></span>
                        <span>ME.<em>ME.</em></span>
                    </strong>
                    <span class="mobile">CONTACT ME.<em>CONTACT ME.</em></span>
                </h2>
                <div class="whiteBox">
                    <dlv class="greet">
                        <b>방문해주셔서 감사합니다.</b>
                        <p>만약 질문이 있으시거나 연락을 원하신다면<br>메일 혹은 문자를 남겨주세요.</p>
                        <ul>
                            <li class="tel">+82 10 2905 3291</li>
                            <li class="mail">ahpark94@gmail.com</li>
                        </ul>
                    </dlv>
                    <div class="form">
                        <form action="#" method="POST" id="contactForm" onsubmit="return false;">
                            <label class="half">
                                <dt>이름</dt>
                                <dd><input type="text" name="name" maxlength="20"></dd>
                            </label>
                            <label class="half">
                                <dt>이메일</dt>
                                <dd><input type="text" name="mail" maxlength="40"></dd>
                            </label>
                            <label>
                                <dt>제목</dt>
                                <dd><input type="text" name="title" maxlength="100"></dd>
                            </label>
                            <label>
                                <dt class="memo">내용</dt>
                                <dd><textarea name="memo" maxlength="500" val="" placeholder="여기에 메시지를 적어 주세요."></textarea></dd>
                            </label>
                            <button class="sendBtn" id="contactApply">전송</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="section foot fp-auto-height">
            <div class="inner">
                <p>COPYRIGHT ⓒ 2025. <em>Park Ah Hyun ALL Rights Reserved.</em></p>
                <span>PAH PORTFOLIO | 박아현 | 서울시 강서구 방화동 | E-MAIL : ahpark94@gmail.com | TEL : 010-2905-3291</span>
            </div>
        </div>
    </div>

    <div class="popupContent"></div>

    <div class="leftFloatMenu" id="leftFloatMenu">
        <div class="prev arr"><a href="#">이전 메뉴로</a></div>
        <ul id="leftMenu">
            <li menuanchor="home"><a href="#home">HOME</a></li>
            <li menuanchor="about"><a href="#about">ABOUT ME</a></li>
            <li menuanchor="web"><a href="#web">WEB</a></li>
            <li menuanchor="design"><a href="#design">DESIGN</a></li>
            <li menuanchor="work"><a href="#work">WORK</a></li>
            <li menuanchor="contact"><a href="#contact">CONTACCT</a></li>
        </ul>
        <div class="next arr"><a href="#">다음 메뉴로</a></div>
	</div>

    <div class="btmFloatMenu" id="btmFloatMenu">
        <ul id="btmMenu">
            <li menuanchor="home"><a href="#home"><span class="icon"></span><b>HOME</b></a></li>
            <li menuanchor="about"><a href="#about"><span class="icon"></span><b>ABOUT</b></a></li>
            <li menuanchor="web"><a href="#web"><span class="icon"></span><b>WEB</b></a></li>
            <li menuanchor="design"><a href="#design"><span class="icon"></span><b>DESIGN</b></a></li>
            <li menuanchor="work"><a href="#work"><span class="icon"></span><b>WORK</b></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="scripts/home.js"></script>