<div class="homeContent">
    <main>
        <div id="fullpage">
            <div class="section home active">
                <h1>Section1</h1>
            </div>

            <div class="section about">
                <h1>Section2</h1>
            </div>

            <div class="section web">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><h1>Section3</h1>Slide 1</div>
                        <div class="swiper-slide"><h1>Section3</h1>Slide 2</div>
                        <div class="swiper-slide"><h1>Section3</h1>Slide 3</div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="section design">
                <h1>Section4</h1>
            </div>   
            <div class="section work">
                <h1>Section5</h1>
            </div>   
            <div class="section contact">
                <h1>Section6</h1>
            </div>   
            <div class="section foot">
                <h1>footer</h1>
            </div>   
        </div>
    </main>
</div>

<script type="text/javascript" src="scripts/home.js"></script>