<div class="introTxt">
    <svg viewBox="0 0 200 90">
        <text x="9.6%" y="58%" class="big">P</text>
        <text x="19.1%" y="58%" class="big">A</text>
        <text x="29%" y="58%" class="big">H</text>
        <text x="39.8%" y="58%" class="small">P</text>
        <text x="45.4%" y="58%" class="small">O</text>
        <text x="52%" y="58%" class="small">R</text>
        <text x="57.8%" y="58%" class="small">T</text>
        <text x="62.7%" y="58%" class="small">F</text>
        <text x="67.3%" y="58%" class="small">O</text>
        <text x="74.2%" y="58%" class="small">L</text>
        <text x="79.4%" y="58%" class="small">I</text>
        <text x="82%" y="58%" class="small">O</text>
    </svg>
</div>