<div class="introTxt">
    <svg viewBox="0 0 200 90">
        <text x="9.6%" y="62%" class="big">P</text>
        <text x="19.4%" y="62%" class="big">A</text>
        <text x="29.7%" y="62%" class="big">H</text>
        <text x="40.1%" y="62.5%" class="small">P</text>
        <text x="46%" y="62.5%" class="small">O</text>
        <text x="53%" y="62.5%" class="small">R</text>
        <text x="58.8%" y="62.5%" class="small">T</text>
        <text x="64.2%" y="62.5%" class="small">F</text>
        <text x="69.3%" y="62.5%" class="small">O</text>
        <text x="76.2%" y="62.5%" class="small">L</text>
        <text x="81.5%" y="62.5%" class="small">I</text>
        <text x="84.3%" y="62.5%" class="small">O</text>
    </svg>
</div>