<div class="popProfile popup">
    <div class="dim"></div>
    <div class="profile popView">
        <p>
            <em>HELLO!</em>
            <span><b>전문 프론트엔드 개발자</b>를 꿈꾸는</span>
            <span>박아현 입니다.</span>
        </p>
        <p class="ico">
            <span class="birth">87.09.04</span>
            <span class="addr">서울시 강서구 방화동</span>
            <span class="tel">010-2905-3291</span>
            <a href="mailto:ahpark94@gmail.com"><span class="mail">ahpark94@gmail.com</span></a>
        </p>
        <div class="license">
            <h4>LICENSE</h4>
            <ul>
                <li>
                    <span class="date">2021. 12. 31</span>
                    <span class="main">정보처리기능사</span>
                </li>
                <li>
                    <span class="date">2018. 9. 28</span>
                    <span class="sub">컴퓨터그래픽스운용기능사</span>
                </li>
                <li>
                    <span class="date">2016. 9 .23</span>
                    <span class="sub">웹디자인기능사</span>
                </li>
                <li>
                    <span class="date">2015. 12. 25</span>
                    <span class="sub">컴퓨터활용능력 2급</span>
                </li>
            </ul>
        </div>
        <button class="close">닫기</button>
    </div>
</div>

<div class="popWeb popup">
    <div class="dim"></div>
    <div class="popView">
        <div class="imgBox">
            <img src="images/web/detail1.jpg">
        </div>
        <button class="close">닫기</button>
    </div>
</div>

<div class="popDesign popup">
    <div class="dim"></div>
    <div class="popView">
        <div class="imgBox">
        </div>
        <button class="prev arr">이전</button>
        <button class="next arr">다음</button>
        <button class="close">닫기</button>
    </div>
</div>

<script type="text/javascript" src="scripts/popup.js"></script>