@charset "utf-8";

/* ------------------------- intro ------------------------- */
.introTxt {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 100px);
    height: 90px;
    opacity: 1;
    z-index: 100;
    animation: svgDisplay 1s linear 4s;
    animation-fill-mode: forwards;
}
.introTxt svg { 
    height: 100%; 
    scale: 3;
}
.introTxt svg text {
    font-family: 'Righteous';
    font-size: 28px; font-weight: 700; letter-spacing: 1.2px;
    fill: transparent;
    stroke: #333;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-dasharray: 102px;
    stroke-dashoffset: 102px;
    animation: svgBigStroke 1.5s linear;
    animation-fill-mode: forwards;
}
.introTxt svg .small {
    font-size: 16px;
    stroke: #a1a1a1;
    stroke-dasharray: 45px;
    stroke-dashoffset: 45px;
    animation: svgSmallStroke 1s linear;
    animation-fill-mode: forwards;
}
.introTxt svg text:nth-child(1) { animation-delay: 0s; }
.introTxt svg text:nth-child(2) { animation-delay: 0.3s; }
.introTxt svg text:nth-child(3) { animation-delay: 0.6s; }
.introTxt svg text:nth-child(4) { animation-delay: 1.0s; }
.introTxt svg text:nth-child(5) { animation-delay: 1.3s; }
.introTxt svg text:nth-child(6) { animation-delay: 1.6s; }
.introTxt svg text:nth-child(7) { animation-delay: 1.9s; }
.introTxt svg text:nth-child(8) { animation-delay: 2.2s; }
.introTxt svg text:nth-child(9) { animation-delay: 2.5s; }
.introTxt svg text:nth-child(10) { animation-delay: 2.8s; }
.introTxt svg text:nth-child(11) { animation-delay: 3.1s; }
.introTxt svg text:nth-child(12) { animation-delay: 3.4s; }

@keyframes svgBigStroke {
    0% { stroke-dashoffset: 102px; }
    70% { fill: transparent; stroke-dashoffset: 0; }
    100% { fill: #333; stroke-width: 0px; }
}
@keyframes svgSmallStroke {
    0% { stroke-dashoffset: 45px; }
    60% { fill: transparent; stroke-dashoffset: 0; }
    100% { fill: #a1a1a1; stroke-width: 0px; }
}
@keyframes svgDisplay { 100% { opacity: 0; } }

@media screen and (max-width: 900px) {
    .introTxt svg { scale: 1.5; }
}

/* header */
.header {  }
.header .dim { display: none; }

.header h1 {
    position: absolute;
    top: 0; left: 0;
    height: 90px;
    opacity: 0;
    animation: logoDisplay 0.5s linear;
    animation-fill-mode: forwards;
}
.logo {  } 
.logo svg { height: 100%; }
.logo svg text {
    font-family: 'Righteous';
    font-size: 28px; font-weight: 700; letter-spacing: 1.2px;
    fill: #333;
}
.logo svg .small {
    font-size: 16px;
    fill: #a1a1a1;
}

#navBtnOpen { display: none; }

nav {
    position: absolute;
    top: 0;
    right: -2000px;
    z-index: 101;
    animation: navMove 2s linear;
    animation-fill-mode: forwards;
}
#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0 32px;
    padding-right: 20px;
}

#menu li {
    height: 90px;
}
#menu li.active {

}
#menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: #333;
    transition: color 0.3s;
}
#menu:not(:has(.hover)) li.active a {
    color: #6c84ff;
}
#menu li.hover a {
    color: #6c84ff;
}
.fp-viewing-foot #menu li:last-child a {
    color: #6c84ff;
}

nav .underBar {
    position: absolute; 
    bottom: 10px;
    height: 3px; 
    border-radius: 2px; 
    background-color: #6c84ff;
    transition: width 0.5s, left 0.5s;
}



@keyframes logoDisplay { 100% { opacity: 1; } }
@keyframes navMove { 100% { right: 0; } }


@media screen and (max-width: 900px) {

    .header .dim { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; }
    .header.on .dim { display: block; }

    .header h1 { height: 80px; }

    #navBtnOpen {
        display: block;
        position: absolute; 
        top: 15px; right: 15px;
        width: 48px; height: 48px; 
        border-radius: 24px; 
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
        background-color: #fff; 
        text-indent: -9999px;
        line-height: 0;
        color: transparent;
        z-index: 102; 
    }
    #navBtnOpen div {
        position: relative;
        width: 100%; height: 100%;
    }
    #navBtnOpen span {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 1px;
        background-color: #222;
        transition: transform 0.5s, width 0.2s, opacity 0.2s;

    }
    #navBtnOpen span:nth-of-type(1) { top: calc(50% - 7px); transform-origin: top left; }
    #navBtnOpen span:nth-of-type(2) {  }
    #navBtnOpen span:nth-of-type(3) { top: calc(50% + 7px); transform-origin: bottom left; box-shadow: 0 0 0 2px #fff; }
    .header.on #navBtnOpen span:nth-of-type(1) { transform: rotate(45deg) translate(-50%, -50%); top: 50%; }
    .header.on #navBtnOpen span:nth-of-type(2) { opacity: 0; }
    .header.on #navBtnOpen span:nth-of-type(3) { transform: rotate(-45deg) translate(-50%, -50%); top: 50%; }

    nav { display: none; position: fixed; right: -55%; height: 100%; width: 55%; background-color: #fff; animation: none; }
    #menu { flex-direction: column; padding: 80px 0 0; }
    #menu li { width: 100%; height: auto; }
    #menu li a { padding: 20px 0; }
    nav .underBar { display: none; }

}


/* ------------------------- main ------------------------- */
.homeContent {  }
#fullpage { width: 100%; height: 100%; }
.section .inner { max-width: 1400px; height: 100%; margin: 0 auto; position: relative; }
@media screen and (max-width: 1400px) {
    .section .inner { padding: 0 20px; }
}
@media screen and (max-width: 900px) {
    .section .fp-tableCell { padding-bottom: 60px; }
    .swiper-container { position: relative; }
}


    /* ------------------------- home ------------------------- */
.section.home {  }
.section.home h2 { overflow: hidden; line-height: 0; text-indent: -9999px; color: transparent; }

.section.home .yellowBg { 
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 0vh;
    clip-path: polygon(0 0, 100% 0%, 100% 35%, 0 82%);
    background: #ffd71f;
    z-index: 100;
    overflow: hidden;
    transition: height 1.5s, clip-path 1s;
}
.section.home .logo { 
    position: absolute;
    top: 0;
    height: 90px;
    z-index: 101;
}
.section.home .yellowBg .logo svg text { fill: #fff; }
.section.home .yellowBg .logo svg .small { fill: #fff; }



.section.home .spriteIco { 
    position: absolute;
    top: -202px;
    left: -450px;
}
.section.home .spriteIco span {
    position: absolute;
    width: 11vw;
    max-width: 100px;
    height: 11vw;
    max-height: 100px;
    /* border: 1px solid #f00; */
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    opacity: 0;
    z-index: 100;
}
.section.home .spriteIco span:nth-child(1) { 
    margin-top: 262px;
    margin-left: 141px;
    background-image: url(../images/home_ico1.svg); 
}
.section.home .spriteIco span:nth-child(2) { 
    margin-top: 116px;
    margin-left: 166px;
    background-image: url(../images/home_ico2.svg); 
}
.section.home .spriteIco span:nth-child(3) { 
    margin-top: 35px;
    margin-left: 294px;
    background-image: url(../images/home_ico3.svg); 
}
.section.home .spriteIco span:nth-child(4) { 
    margin-top: 181px;
    margin-left: 295px;
    background-image: url(../images/home_ico4.svg); 
}
.section.home .spriteIco span:nth-child(5) { 
    margin-top: 0px;
    margin-left: 462px;
    background-image: url(../images/home_ico5.svg); 
}
.section.home .spriteIco span:nth-child(6) { 
    margin-top: 117px;
    margin-left: 423px;
    background-image: url(../images/home_ico6.svg); 
}
.section.home .spriteIco span:nth-child(7) { 
    margin-top: 16px;
    margin-left: 626px;
    background-image: url(../images/home_ico7.svg); 
}
.section.home .spriteIco span:nth-child(8) { 
    margin-top: 138px;
    margin-left: 566px;
    background-image: url(../images/home_ico8.svg);
}
.section.home .spriteIco span:nth-child(9) { 
    margin-top: 110px;
    margin-left: 718px;
    background-image: url(../images/home_ico9.svg); 
}

@keyframes spriteIcoMove1 { 
    0% { transform: translateX(100%); opacity: 0; } 
    20%, 61% { transform: translateX(0); opacity: 1; }
    76%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove2 { 
    0%, 3% { transform: translateX(100%); opacity: 0; } 
    23%, 64% { transform: translateX(0); opacity: 1; }
    79%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove3 { 
    0%, 6% { transform: translateX(100%); opacity: 0; } 
    26%, 67% { transform: translateX(0); opacity: 1; }
    82%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove4 { 
    0%, 9% { transform: translateX(100%); opacity: 0; } 
    29%, 70% { transform: translateX(0); opacity: 1; }
    85%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove5 { 
    0%, 12% { transform: translateX(100%); opacity: 0; } 
    32%, 73% { transform: translateX(0); opacity: 1; }
    88%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove6 { 
    0%, 15% { transform: translateX(100%); opacity: 0; } 
    35%, 76% { transform: translateX(0); opacity: 1; }
    91%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove7 { 
    0%, 18% { transform: translateX(100%); opacity: 0; } 
    38%, 79% { transform: translateX(0); opacity: 1; }
    94%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove8 { 
    0%, 21% { transform: translateX(100%); opacity: 0; } 
    41%, 82% { transform: translateX(0); opacity: 1; }
    97%, 100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes spriteIcoMove9 { 
    0%, 24% { transform: translateX(100%); opacity: 0; } 
    44%, 85% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}

.section.home .txtBox { 
    position: absolute;
    top: 67%;
    right: 20px;
    transform: translateY(-50%);
    text-align: right;
    z-index: 101;
}

.section.home .txtBox .subTit { 
    overflow: hidden;
}
.section.home .txtBox .subTit span { 
    display: inline-block;
    position: relative;
    font-family: 'Righteous';
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    color: transparent;
}
.section.home .txtBox .subTit span em {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #6c84ff;
}

.section.home .txtBox .mainTit { 
    overflow: hidden;
    margin-bottom: 6vh;
}
.section.home .txtBox .mainTit span { 
    display: inline-block;
    position: relative;
    font-family: 'Righteous';
    font-size: 140px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    color: transparent;
}
.section.home .txtBox .mainTit span em {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #222;
}

.section.home .txtBox h3 { margin-bottom: 2vh; overflow: hidden; }
.section.home .txtBox h3 span { 
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: transparent;
 }
.section.home .txtBox h3 span em { 
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #222;
 }

.section.home .txtBox p {  }
.section.home .txtBox p span { 
    display: block;
    position: relative;
    color: transparent;
    overflow: hidden;
 }
.section.home .txtBox p span em { 
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #777;
 }

        /* active */
    .fp-viewing-home .section.home .yellowBg { height: 100vh; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(1) { animation: spriteIcoMove1 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(2) { animation: spriteIcoMove2 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(3) { animation: spriteIcoMove3 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(4) { animation: spriteIcoMove4 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(5) { animation: spriteIcoMove5 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(6) { animation: spriteIcoMove6 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(7) { animation: spriteIcoMove7 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(8) { animation: spriteIcoMove8 12s infinite ease 2s; }
    .fp-viewing-home .section.home .spriteIco span:nth-child(9) { animation: spriteIcoMove9 12s infinite ease 2s; }

    .fp-viewing-home .section.home .txtBox .subTit span em { animation: txtMoveUp 0.5s linear; animation-fill-mode: forwards; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(1) em { animation-delay: 1s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(2) em { animation-delay: 1.1s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(3) em { animation-delay: 1.2s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(4) em { animation-delay: 1.3s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(5) em { animation-delay: 1.4s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(6) em { animation-delay: 1.5s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(7) em { animation-delay: 1.6s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(8) em { animation-delay: 1.7s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(9) em { animation-delay: 1.8s; }
    .fp-viewing-home .section.home .txtBox .subTit span:nth-child(10) em { animation-delay: 1.9s; }
    .fp-viewing-home .section.home .txtBox .mainTit span em { animation: txtMoveUp 0.6s linear; animation-fill-mode: forwards; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(1) em { animation-delay: 1.6s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(2) em { animation-delay: 1.7s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(3) em { animation-delay: 1.8s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(4) em { animation-delay: 2.0s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(5) em { animation-delay: 2.1s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(6) em { animation-delay: 2.2s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(7) em { animation-delay: 2.3s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(8) em { animation-delay: 2.4s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(9) em { animation-delay: 2.5s; }
    .fp-viewing-home .section.home .txtBox .mainTit span:nth-child(10) em { animation-delay: 2.6s; }
    .fp-viewing-home .section.home .txtBox h3 span em { animation: txtMoveUp 0.6s linear; animation-fill-mode: forwards; animation-delay: 2s; }
    .fp-viewing-home .section.home .txtBox p span em { animation: txtMoveUp 0.6s linear; animation-fill-mode: forwards; animation-delay: 2.7s; }


@keyframes txtMoveUp { 100% { top: 0; } }


@media screen and (max-width: 1270px) {
    .section.home .txtBox .subTit span { font-size: 5.1vw; }
    .section.home .txtBox .mainTit span { font-size: 11vw; }
}
@media screen and (max-width: 900px) {
    .section.home .yellowBg { clip-path: polygon(0 0, 100% 0%, 100% 35%, 0 68%); }
}
@media screen and (max-width: 600px) {
    .section.home .yellowBg { clip-path: polygon(0 0, 100% 0%, 100% 43%, 0 60%); }
    .section.home .spriteIco { left: -87px; }
    .section.home .spriteIco span:nth-child(1) { margin-top: 198px; margin-left: 21px; }
    .section.home .spriteIco span:nth-child(2) { margin-top: 108px; margin-left: 39px; }
    .section.home .spriteIco span:nth-child(3) { margin-top: 49px; margin-left: 104px; }
    .section.home .spriteIco span:nth-child(4) { margin-top: 160px; margin-left: 102px; }
    .section.home .spriteIco span:nth-child(5) { margin-top: 0px; margin-left: 180px; }
    .section.home .spriteIco span:nth-child(6) { margin-top: 95px; margin-left: 169px; }
    .section.home .spriteIco span:nth-child(7) { margin-top: 25px; margin-left: 263px; }
    .section.home .spriteIco span:nth-child(8) { margin-top: 111px; margin-left: 247px; }
    .section.home .spriteIco span:nth-child(9) { margin-top: 79px; margin-left: 323px; }
    .section.home .txtBox .subTit span { font-size: 7vw; }
    .section.home .txtBox .mainTit { margin-bottom: 4vh; }
    .section.home .txtBox .mainTit span { font-size: 12.5vw; }
    .section.home .txtBox h3 span { font-size: 3vw; }
    .section.home .txtBox p span { font-size: 2.3vw; }
}
@media screen and (min-width: 1500px) {
    .section.home .spriteIco { left: -570px; }
}
@media screen and (min-width: 1500px) and (min-height: 900px) {
    .section.home .spriteIco { top: -310px; }
    .section.home .spriteIco span:nth-child(1) { margin-top: 327px; margin-left: 66px; }
    .section.home .spriteIco span:nth-child(2) { margin-top: 138px; margin-left: 87px; }
    .section.home .spriteIco span:nth-child(3) { margin-top: 27px; margin-left: 233px; }
    .section.home .spriteIco span:nth-child(4) { margin-top: 244px; margin-left: 238px; }
    .section.home .spriteIco span:nth-child(5) { margin-top: 0px; margin-left: 425px; }
    .section.home .spriteIco span:nth-child(6) { margin-top: 148px; margin-left: 387px; }
    .section.home .spriteIco span:nth-child(7) { margin-top: 17px; margin-left: 627px; }
    .section.home .spriteIco span:nth-child(8) { margin-top: 169px; margin-left: 563px; }
    .section.home .spriteIco span:nth-child(9) { margin-top: 126px; margin-left: 752px; }
}


    /* ------------------------- about ------------------------- */
.section.about .aboutBg {  }
.section.about .aboutBg::before {
    content: "";
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 100vh;
    clip-path: polygon(0% 45%, 50% 24%, 50% 33%, 100% 10%, 100% 100%, 0% 100%);
    background: #f5f5f5;
}

.section.about .inner { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 90px);
    margin-top: 90px;
    border: 1px solid #f00;
}
.section.about .left { 
    width: 44%; 
    padding-left: 80px; 
    border: 1px solid green;
}
h2 { text-align: left; }
h2 svg { width: 50px; height: 10px; }
h2 svg polyline { stroke: #6c84ff; fill: none; stroke-width: 5px; }
h2 strong { display: block; }
h2 strong span { 
    display: block;
    font-family: 'Righteous';
    font-size: 72px;
    line-height: 1;
    letter-spacing: -1px;
    color: #6c84ff;
}

.section.about h2 { margin-bottom: 10vh; padding-top: 3vh; }

.section.about .profile { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 5vh;
    position: relative;
    padding-top: 39px;
    padding-left: 100px;
}
.section.about .profile::before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 80px;
    height: 80px;
    background: url(../images/quote.svg) center no-repeat; background-size: 100% auto;

}
.section.about .profile p {  }
.section.about .profile p em { 
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1vh;
}
.section.about .profile p span { 
    display: block;
    font-size: 18px;
}
.section.about .profile p span b { 
    position: relative;
}
.section.about .profile p span b::before { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #ffd71f;
    mix-blend-mode: darken;
}
.section.about .profile p.ico {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 10px 0;
}
.section.about .profile p.ico span { 
    position: relative;
    padding-left: 28px;
    font-size: 16px;
    line-height: 1;
}
.section.about .profile p.ico span::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 100% auto;
}
.section.about .profile p.ico .birth::before { background-image: url(../images/btmMenu_home.svg);  }
.section.about .profile p.ico .addr::before { background-image: url(../images/btmMenu_design.svg); }
.section.about .profile p.ico .tel::before { background-image: url(../images/btmMenu_about.svg); }
.section.about .profile p.ico .mail::before { background-image: url(../images/btmMenu_web.svg); }
.section.about .profile p.ico a {  }

.section.about .profile .license { display: none; }

.section.about .right { width: 55%; border: 1px solid green; }
.section.about .right h4 { 
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 1;
    color: #666;
}
.section.about .right h4::before { 
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #6c84ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.section.about .right .skill h4::before { background-image: url(../images/btmMenu_home.svg); }
.section.about .right .work h4::before {  }
.section.about .right .edu h4::before {  }
.section.about .right .license h4::before {  }

.section.about .right .skill {  }
.section.about .right .skill ul {  }
.section.about .right .skill ul li {  }
.section.about .right .skill ul li .circle {  }
.section.about .right .skill ul li .circle::before {  }
.section.about .right .skill ul li .name {  }







.section.about .profileBtn { display: none; }




@media screen and (max-width: 1400px) {
    .section.about .left { padding-left: 50px; }
}














    /* ------------------------- web ------------------------- */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;  
}



/* work */
.section.work .swiper-slide { opacity: 0.5; }
.section.work .swiper-slide-active { opacity: 1; }


/* left-menu */
#leftFloatMenu { 
    position: fixed; 
    top: 50%; 
    left: -40px;
    transform: translateY(-50%);
    animation: leftMenuMove 0.4s linear 1.7s;
    animation-fill-mode: forwards;
}

#leftMenu { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px 0;
 }
#leftMenu li { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}
#leftMenu li::before {
    content: ""; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px; 
    height: 6px; 
    border-radius: 50%;
    background-color: rgba(0,0,0,0); 
    transition: width 0.5s, height 0.5s;
}
#leftMenu li::after {
    content: ""; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333; 
    transition: top 0.5s, width 0.4s, height 0.4s, color 0.5s;
}

    /* active */
#leftMenu li.active {
    height: 50px;
}
#leftMenu li.active::before { 
    width: 20px;
    height: 50px;
    border-radius: 50px;
    background-color: #6c84ff;
}
#leftMenu li.active::after { 
    top: 25%;
    width: 8px;
    height: 8px;
    background-color: #ffd71f;
}

    /* hover */
#leftMenu li:not(.active):hover::before { animation: leftMenuHover 1.4s infinite linear; }
#leftMenu li:not(.active):hover::after { width: 6px; height: 6px; background-color: rgba(0,0,0,.6); }

#leftMenu li a { 
    position: relative;
    display: block;
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    line-height: 0; 
    text-indent: -9999px; 
    color: transparent;
    z-index: 1;
}

@keyframes leftMenuMove { 100% { left: 20px; } }
@keyframes leftMenuHover {
    0%  { width: 6px; height: 6px; background-color: rgba(0,0,0,0); }
    60% { width: 30px; height: 30px; background-color: rgba(0,0,0,.1); }
    100% { width: 36px; height: 36px; background-color: rgba(0,0,0,0); }
}



/* left-prev-next */
#leftFloatMenu .arr { 
    position: relative;
    width: 20px;
    height: 95px;
}

#leftFloatMenu .arr a { 
    display: block;
    position: relative;
    height: 100%;
    line-height: 0; 
    text-indent: -9999px; 
    color: transparent;
}
#leftFloatMenu .arr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    width: 3px;
    height: 95px;
    background-color: #98a9ff;
}
#leftFloatMenu .arr::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 11px;
    transform: rotate(-30deg);
    width: 3px; 
    height: 20px; 
    background-color: #98a9ff; 
}
#leftFloatMenu .next::after {
    top: auto;
    bottom: 0;
    transform: rotate(30deg);
}
#leftFloatMenu .prev { 
    margin-bottom: 25px; 
    animation: arrPrevMove 2s infinite ease-in-out; 
}
#leftFloatMenu .next { 
    margin-top: 25px; 
    animation: arrNextMove 2s infinite ease-in-out; 
}

.fp-viewing-home #leftFloatMenu .prev { visibility: hidden; }
.fp-viewing-home #leftFloatMenu .prev a { cursor: auto; }
.fp-viewing-contact #leftFloatMenu .next, .fp-viewing-foot #leftFloatMenu .next { visibility: hidden; }
.fp-viewing-contact #leftFloatMenu .next a, .fp-viewing-foot #leftFloatMenu .next a { cursor: auto; }

@keyframes arrPrevMove { 0%, 100% {transform: translateY(0%);} 50% {transform: translateY(-10%);} }
@keyframes arrNextMove { 0%, 100% {transform: translateY(0%);} 50% {transform: translateY(10%);} }



/* bottom-menu */
#btmFloatMenu { display: none; }



@media screen and (max-width: 900px) {
    /* left-menu */
    #leftFloatMenu { display: none; }

    /* bottom-menu */
    #btmFloatMenu { 
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        /* border: 1px solid #f00; */
    }
    #btmMenu { 
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        background: #fff;
    }
    #btmMenu li { 
        width: 20%;
        /* border: 1px solid green; */
    }
    #btmMenu li.active {  }
    #btmMenu li a { 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 60px;
        line-height: 1;
        text-align: center;
    }
    #btmMenu li a .icon {
        width: 25px;
        height: 25px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: auto 100%;
    }
    #btmMenu li[menuanchor=home] a .icon { background-image: url(../images/btmMenu_home.svg); }
    #btmMenu li[menuanchor=about] a .icon { background-image: url(../images/btmMenu_about.svg); }
    #btmMenu li[menuanchor=web] a .icon { background-image: url(../images/btmMenu_web.svg); }
    #btmMenu li[menuanchor=design] a .icon { background-image: url(../images/btmMenu_design.svg); }
    #btmMenu li[menuanchor=work] a .icon { background-image: url(../images/btmMenu_work.svg); }
    
    #btmMenu li[menuanchor=home].active a .icon { background-image: url(../images/btmMenu_home_on.svg); }
    #btmMenu li[menuanchor=about].active a .icon { background-image: url(../images/btmMenu_about_on.svg); }
    #btmMenu li[menuanchor=web].active a .icon { background-image: url(../images/btmMenu_web_on.svg); }
    #btmMenu li[menuanchor=design].active a .icon { background-image: url(../images/btmMenu_design_on.svg); }
    #btmMenu li[menuanchor=work].active a .icon { background-image: url(../images/btmMenu_work_on.svg); }

    #btmMenu li a b {
        font-size: 9px;
        font-weight: normal;
        color: #c6c6c6;
    }
    #btmMenu li.active a b { color: #ffd71f; }



}