@charset "utf-8";

    /* Righteous */
/* @import url('https://fonts.googleapis.com/css?family=Righteous&subset=latin-ext');  */
@font-face {
	font-family: 'Righteous';
	font-weight: 400;
	src: url(../images/Righteous-Regular.ttf) format('truetype');
}
    /* G마켓산스 */
/* @import url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSans.css');  */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { margin:0; padding:0; -webkit-box-sizing: border-box; box-sizing: border-box; }
html { width: 100%; height: 100%; margin: 0; padding: 0;}
body { width: 100%; height: 100%; margin: 0; padding: 0; word-break: keep-all; }
body,div,span,button,a,td,th,select,textarea,input,dl,dt,dd { font-family: 'GmarketSansMedium', 'Apple SD Gothic Neo', sans-serif; font-size: 14px; font-weight: 400; line-height: 1.4; color: #222; } 
em { font-style: normal; }
h1,h2,h3,h4,h5 { margin: 0; padding: 0; font-family: 'GmarketSansMedium', 'Apple SD Gothic Neo', sans-serif; }
a { text-decoration: none; color: #222; }
a:hover { cursor: pointer; }
button { appearance: none; -webkit-appearance: none; margin: 0; border: 0; box-sizing: border-box; background: transparent; cursor: pointer; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
p { margin: 0; padding: 0; }
img { border: 0; }
input { border: none; outline: none; }
input:focus { background-color: transparent; }